@model int
@using Esso.Data;
@using Microsoft.AspNet.Identity
@using language
@{
    ViewBag.Title = "Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    EssoEntities DB = new EssoEntities();
    var companyName = DB.Companies.Where(x => x.ID == Model).FirstOrDefault().NAME;
    var companyName2 = DB.Companies.Where(x => x.ID == Model).FirstOrDefault().DEMO_NAME;
}
<style>
    tfoot {
        color: black;
        background: #d8d8d8;
    }
</style>

<!-- page content -->

<div class="">
    <div class="page-title">
        <div class="title_left">
            @if (User.IsInRole("DEMO"))
            {
                <h3>Company @companyName2</h3>
            }
            else
            {
                <h3>@companyName</h3>
            }
        </div>
        <div class="title_right">
            <h3 id="stCount"><i class="fa fa-map-marker"></i></h3>
        </div>    
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="background:#f7f7f7">
                <div class="x_title">
                    <h2>@Resources.Maps</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <img id="LoadingImage2" src="~/images/loader.gif" />
                </div>
                <div class="x_content" style="height:900px">
                    <div id="map"></div>
                </div>
            </div>          
        </div>
    </div>
</div>

<!-- /page content -->

<style>
    #map {
        height: 100%;
    }
</style>


<script>
    $("#LoadingImage2").show();
    function initMap() {
        var listLocation = [];
        $("#ProductionDetail").empty();
        $("#totalFooter").empty();
        $("#stCount").empty();
        var stationCount = 0;
        var totalPro = 0;
        var listProd = [];
        var listStation = [];
        var status = "";
        var disconnect = '<span class="label label-danger">@Resources.Connection_Fail</span>';
        var disConnnetCount = 0;
        var connected = '<span class="label label-success">@Resources.Connected</span>';
        $.ajax({
            url: "/Home/GetMapStation?companyId",
            type: "POST",
            data: { companyId: @Model },
            dataType: "json",
            success: function (data) {
                
                $("#LoadingImage2").hide();
               
                for (var i = 0; i < data.length; i++) {
                    var x = data[i].COORDINANT.split(",")[0];
                    var y = data[i].COORDINANT.split(",")[1];
                    var stationName = data[i].STATION_NAME;
                    var stationId = data[i].STATION_ID + ".png"; 
                    if (data[i].CON_STATUS == true) {
                        status = connected;
                    }
                    else {
                        status = disconnect;
                        disConnnetCount++;
                    }
                    stationCount++;
                    listProd.push(data[i].Enerji.toFixed(2));
                    listStation.push(data[i].STATION_NAME);
                    $("#ProductionDetail").append("<tr><td><b>" + data[i].STATION_NAME + "</b></td><td>" + (data[i].Enerji).toFixed(2).replace(".", ",") + " MWh" + "</td><td><a href='Detail?stationId=" + data[i].STATION_ID + "'  class='btnDetail'>@Resources.Detail</a></td><td>" + status + "</td></tr>");
                    var contentString = '<div id="content">' +
                        '<h3 id="firstHeading" class="firstHeading">' + stationName + '</h3>' +
                        '<img style="width: 300px; height:180px; display: block;" src="/images/StationImages/' + stationId + '" />'+
                        '<div id="siteNotice"></div>' +
                        '<div id="bodyContent">' +
                        '<p style="font-size: 100%"><b>@Resources.Production: </b>' + data[i].Enerji.toFixed(2).replace(".",",") + ' MWh<br/>' +
                        '<b>PR: </b>' + data[i].PR.toFixed(1).replace(".", ",") + ' % <br/>' +
                        '<a class="btn btn-info btn-xs" href="Detail?stationId=' + data[i].STATION_ID +
                        '" class="btnDetail">@Resources.Detail</a>' + status + '</div>';

                    listLocation.push({ lat: x, lng: y, content: contentString, connection: data[i].CON_STATUS });
                }


                var myLatlng = listLocation;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    mapTypeControl: true,
                    mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                    mapTypeId: google.maps.MapTypeId.HYBRID,
                    center: { lat: 39.2, lng: 34.6 }
                });

                for (var i = 0, length = myLatlng.length; i < length; i++) {
                    var data = myLatlng[i],
                        latLng = new google.maps.LatLng(data.lat, data.lng);
                    if (data.connection == true) {
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: '/images/marker_green.png',
                        animation: google.maps.Animation.DROP,
                        title: 'Click to zoom'
                    });

                    }
                    else {
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: '/images/marker_red.png',
                            animation: google.maps.Animation.DROP,
                            title: 'Click to zoom'
                        });
      
                    }
                     infoBox(map, marker, data);
                }
            }
        });
	}

    var timer, delay = 300000;
    timer = setInterval(function () {
        initMap();
    }, delay)

    function infoBox(map, marker, data) {
        var infoWindow = new google.maps.InfoWindow();
        // Attaching a click event to the current marker
        google.maps.event.addListener(marker, "click", function (e) {
            infoWindow.setContent(data.content);
            infoWindow.open(map, marker);
        });

        // Creating a closure to retain the correct data
        // Note how I pass the current data in the loop into the closure (marker, data)
        (function (marker, data) {
            // Attaching a click event to the current marker
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent(data.content);
                infoWindow.open(map, marker);
            });
        })(marker, data);
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_zXhq0Qz4_hKotMC4H64zNo6KGPlDCY&callback=initMap">
</script>
